<div class="fixed w-full h-full flex bg-gray-900"> 
  <div class="absolute inset-0"> 
    <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1681238339230-ad333583139e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4NHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt=""> 
  </div> 
  <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8"> 
    <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl lg:text-6xl"> 
      <span class="block"> 
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-blue-500"> 
          Hi, I'm Chad. 
        </span> 
      </span> 
      <span class="block"> 
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-blue-500"> 
          I'm a full-stack developer. 
        </span> 
      </span> 
    </h1> 
    <p class="mt-6 max-w-3xl text-xl text-gray-300"> 
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, 
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-blue-500"> 
        voluptates. 
      </span> 
    </p> 
   <div class="py-5 space-x-2">
    <a href="/" class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white font-bold py-2 px-4 rounded-full">Home</a>
    <a href="/" class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white font-bold py-2 px-4 rounded-full">About Me</a>
    <a href="/" class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white font-bold py-2 px-4 rounded-full">Projects</a>   
   </div>
  </div> 

</div>

